@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #10221b;
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
   color: #fff;
  cursor: pointer;
  background: #1B4893;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  border-radius: 30px;
  border: solid  1px #1B4893;
  font-weight: 800;
}

.btn:hover {
  background: #fff;
  color: #1B4893;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #1B4893;
}

.header {
  text-align: center;     /* Centra todo lo interno */
  padding: 1rem 0;
}

/* Centra el logo */
.header .header-1 .logo img {
  max-width: 200px;       /* Ajustalo al tamaño que quieras */
  margin: 0 auto;
  display: block;
}

/* Centra el navbar completo */
.navbar {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;              /* separa los links */
}

/* Los links del menú */
.navbar a {
  font-size: 1.7rem;
  color: #1B4893;
}

 

.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: #1B4893;
  display: none;
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #1B4893;
}

.header .icons a:hover,
.header .icons div:hover {
  color: #1B4893;
}

.header #menu-btn {
  display: none;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10000;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}

.search-form.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.search-form #close-search {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  cursor: pointer;
  color: #fff;
  font-size: 6rem;
}

.search-form #close-search:hover {
  color: #219150;
}

.search-form form {
  width: 70rem;
  margin: 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form form input {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  text-transform: none;
  background: none;
  padding-right: 2rem;
}

.search-form form input::-webkit-input-placeholder {
  color: #aaa;
}

.search-form form input:-ms-input-placeholder {
  color: #aaa;
}

.search-form form input::-ms-input-placeholder {
  color: #aaa;
}

.search-form form input::placeholder {
  color: #aaa;
}

.search-form form label {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}

.search-form form label:hover {
  color: #219150;
}

.home {
  padding: 0;
}

.home .box {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover !important;
  background-position: center !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem 9%;
}

.home .box.second {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
          
 }

 .box.second .box {
    position: relative;
    background-size: cover !important;
    background-position: center !important;
}

.box.second::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(27, 72, 117, 0.55);  
    z-index: 1;
}

.box.second .content {
    position: relative;
    z-index: 2;}
 
.home .box .content {
  width: 80rem;
}

.home .box .content span {
  font-size: 4rem;
  color: #fff;
}

.home .box .content h3 {
  font-size: 7rem;
  color: #fff;
  padding-top: .5rem;
  text-transform: uppercase;
  font-weight: 900;
}

.home .box .content p {
  line-height: 2;
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem 0;
  font-weight: 400;
}

.btn-wsp {
    position: fixed;
    width: 75px;
    height: 75px;
    line-height: 75px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 45px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #fff;
}

.category .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}

.category .box-container .box {
  text-align: center;
  padding: 1rem;
}

.category .box-container .box img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.category .box-container .box h3 {
  font-size: 2rem;
  color: #219150;
}

.category .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.quienes-somos {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.quienes-somos .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.quienes-somos .image img {
  width: 100%;
  -webkit-box-shadow: 4rem 4rem 0 #1B4893;
          box-shadow: 4rem 4rem 0 #1B4893;
}

.quienes-somos .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.quienes-somos .content h3 {
  font-size: 3rem;
  color: #1B4893;
}

.quienes-somos .content p {
  font-size: 1.8rem;
  color: #1B4893;
  font-weight: 800;
  padding: 1rem 0;
  line-height: 2;
}

.shop .slide {
  border: 0.2rem solid #10221b;
}

.shop .slide:hover .image .icons {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.shop .slide .image {
  position: relative;
  overflow: hidden;
  height: 30rem;
  width: 100%;
}

.shop .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop .slide .image .icons {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  left: 0;
  text-align: center;
  z-index: 10;
  -webkit-transform: translateY(7rem);
          transform: translateY(7rem);
  
 }

.shop .slide .image .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background: #10221b;
  color: #fff;
  margin: 0 .2rem;
}

.shop .slide .image .icons a:hover {
  background: #219150;
}

.shop .slide .content {
  padding: 1rem 0;
  text-align: center;
}

.shop .slide .content h3 {
  font-size: 2rem;
  color: #10221b;
}

.shop .slide .content .price {
  padding: 1rem 0;
  padding-top: .5rem;
  font-size: 2rem;
  color: #219150;
}

.shop .slide .content .stars i {
  font-size: 1.7rem;
  color:   #1B4893;
;
}

.productos {
  background: #fff;

}

.productos .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
 
}

.productos .box-container .box {
  text-align: center;
  background: #1B4893;
 
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}



.productos .box-container .box:hover .content > * {
  color: #fff;
}

.productos .box-container .box:hover .btn {
  border-color: #fff;
}

.productos .box-container .box:hover .btn:hover {
  background: #fff;
  color: #10221b;
}

.productos .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: .5rem;
}

.productos .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
}

.productos .box-container .box .content {
  padding: 2rem;
}

.productos .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}

.productos .box-container .box .content p {
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem 0;
  line-height: 2;
}

.productos .box-container .box .content .price {
  font-size: 2rem;
  color: #219150;
}

.services {
  background: #eee;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  text-align: center;
  padding: 2rem;
  border: 0.2rem solid #10221b;
  border-radius: .5rem;
  background: #fff;
}

.services .box-container .box:hover {
  background: #10221b;
}

.services .box-container .box:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.services .box-container .box:hover p {
  color: #fff;
}

.services .box-container .box:hover .btn {
  border-color: #fff;
  color: #fff;
}

.services .box-container .box:hover .btn:hover {
  background: #fff;
  color: #10221b;
}

.services .box-container .box img {
  height: 10rem;
  margin-bottom: 1rem;
}

.services .box-container .box h3 {
  font-size: 2rem;
  color: #219150;
}

.services .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.resenas .slide .text {
  padding: 2rem;
  font-size: 1.5rem;
  font-style: italic;
  background: #eee;
  border-radius: .5rem;
  color: #1B4893;
  line-height: 2;
  position: relative;
  z-index: 0;
  margin-bottom: 3rem;
}

.resenas .slide .text::before {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: .7rem;
  height: 3rem;
  width: 3rem;
  background: #eee;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.resenas .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.resenas .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.resenas .slide .user h3 {
  font-size: 2rem;
  color: #1B4893;
}

.resenas .slide .user span {
  color: #219150;
  font-size: 1.5rem;
}

.resenas .user .stars {
  color: #1B4893;
  
}

.servicios .slide {
  text-align: center;
  padding: 2rem;
}

.servicios .slide img {
  height: 25rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
}

.servicios .slide .icons {
  background: #1B4893;
  border-radius: .5rem;
  padding: 1rem;
  position: relative;
  top: -2rem;
  display: inline-block;
}

.servicios .slide .icons p {
  font-size: 1.8rem;
  color: #fff;
  margin: 0 1rem;
}




.servicios .slide h3 {
  font-size: 2rem;
  color: #10221b;
}

.servicios .slide p {
  font-size: 1.7rem;
  padding: 1rem 0;
  line-height: 2;
  color: #1B4893;
  font-weight: 800;
}

.newsletter {
  background: #1B4893;
  columns: #fff;
}

.newsletter .content {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.newsletter .content p {
  font-size: 2rem;
  line-height: 2;
  color: #fff;
}

.newsletter .content form {
  margin-top: 2rem;
  background: #fff;
  border-radius: 5rem;
  border: 0.2rem solid #10221b;
  padding: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter .content form .email {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #10221b;
  padding: 0 1.3rem;
}

.newsletter .content form .btn {
  margin-top: 0;
  border-radius: 5rem;
  background: #1B4893;
  color: #fff;
}

.newsletter .content form .btn:hover {
  background: none;
  color: #10221b;
}

.sucursales {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 1rem;
}

.sucursal {
    display: grid;
    grid-template-columns: 550px 1fr;
    gap: 2rem;
    align-items: start;
}

.sucursal .mapa iframe {
    width: 100%;
    height: 250px;
    border-radius: 8px;
}

.sucursal .info h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #1B4893;
}

.sucursal .info a {
    margin: 0.5rem 0;
    font-size: 2rem;
    color: #1B4893;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-weight: 500;
}

.sucursal .info i {
    color: #1B4893;
    font-size: 1.6rem;
}

/* Responsive */
@media (max-width: 768px) {
    .sucursal {
        grid-template-columns: 1fr;
    }
}


.marcas .silde {
  text-align: center;
}

.marcas .silde img {
  width: 28rem;
  height: 16rem;
  padding: 1rem;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/footer-bg.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/footer.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: #fff;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box a i {
  color: #1B4893;
  padding-right: .5rem;
}

.footer .box-container .box a:hover {
  color: #1B4893;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #fff;
}

.footer .credit span {
  color: #1B4893;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 65%;
    scroll-padding-top: 7rem;
  }
  .home .box {
    padding: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: right !important;
  }
  .home .box.second {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: left !important;
  }
  .home .box .content {
    text-align: center;
  }
  .home .box .content span {
    font-size: 3rem;
  }
  .home .box .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: #fff;
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .navbar.active {
    left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
  .header .navbar a {
    margin: 1rem 0;
    font-size: 3rem;
  }
  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 60%;
  }
  .heading {
    font-size: 3rem;
  }
}


 @media (max-width: 768px) {
    .servicios .swiper-wrapper {
        display: flex !important;
        flex-direction: column !important;
        gap: 2rem;
        transform: none !important;
    }

    .servicios .swiper-slide {
        width: 100% !important;
        height: auto !important;
    }

    .servicios .swiper {
        overflow: visible !important;
    }
}

@media (max-width: 768px) {


    .resenas .swiper-wrapper {
        display: flex !important;
        flex-direction: column !important;
        gap: 2rem;
        transform: none !important; 
    }


    .resenas .swiper-slide {
        width: 100% !important;
        height: auto !important;
    }


    .resenas .swiper {
        overflow: visible !important;
    }
}
